
\.idea/

\.gradle/4\.4/fileHashes/fileHashes\.bin

\.gradle/4\.4/fileHashes/fileHashes\.lock

\.gradle/4\.4/javaCompile/classAnalysis\.bin

\.gradle/4\.4/javaCompile/javaCompile\.lock

\.gradle/4\.4/javaCompile/taskHistory\.bin

\.gradle/4\.4/javaCompile/taskJars\.bin

\.gradle/4\.4/taskHistory/taskHistory\.bin

\.gradle/4\.4/taskHistory/taskHistory\.lock

\.gradle/buildOutputCleanup/buildOutputCleanup\.lock

\.gradle/buildOutputCleanup/outputFiles\.bin

BookInProgress/BookInProgress\.iml

BookInProgress/gradle/wrapper/gradle-wrapper\.jar

BookInProgress/gradle/wrapper/gradle-wrapper\.properties

BookInProgress/gradlew

BookInProgress/gradlew\.bat

BookInProgress/local\.properties

BookMeUp-Backend\.iml

local\.properties
